/* ====================
	App
==================== */

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 3rem;
  overflow: hidden;
}

.app__header {
  margin: 0 -1rem 2.5rem;
}

.app__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.app__word {
  margin: 3rem 0 0;
}

.app__misses {
  max-width: 8rem;
}

.app__restart {
  margin-top: 2rem;
}
